body {
    margin: 0px;
    color:#1b262c;
    text-align: center;
}


h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding-bottom: 10px;
}


.vivekpic{
	height: 150px;
	width: 150px;

}
hr{
	color: #EAF6F6;
	width: 4%;
	height: 10px;
	border-width: 7px;
margin-top: 20px;
	margin-bottom: 20px;

	border-style: dotted none none none ;

}

.intro{
	width:30%;
    margin: 0 auto 40px auto;

}


.top-container{
	margin: 0px;
	position: relative;
	padding-top: 50px;
	font-family:cursive;
	background-color: #EAF6F6;
	color:#ECECEC;
}
.middle-container{
	margin-top: 40px;
	
}

.laptop{
	width:25%;
	float:left;
	margin-right:30px;
}
.skill-row
{
	width:50%;
	margin:100px auto 100px auto;
	line-height: 2;
	text-align: left;
}
.internet{
	width:25%;
	float:right;
	margin-left:30px;
}
.skill-row2
{
	width:50%;
	margin:100px auto 100px auto;
	line-height: 2;
	text-align: left;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud2 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.footer-link{
	color: #11999E;
	text-decoration: none;
	margin: 0 10px 0 10px;
}

.footer-link:hover{
	color: #FFFFFF;
	text-decoration: none;
	margin: 0 10px 0 10px;
}

.bottom-container{
	margin: 0px;
	margin-top: 30px;
	position: relative;
	padding-top: 50px;
	padding-bottom: 30px;
	font-family:cursive;
	background-color: #66BFBF;
	color:#ECECEC;
}

.btn {
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 17px;
   font-weight: 400;
   padding: 13px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #157C7C;
   border: solid #1B9999 0px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}